/* 
    Put your style/CSS customizations here.
    It's loaded after all the other CSS files, so any CSS rules here
    will override rules in other files.
 */

/* The following example turns the background to yellow if you uncomment it. */

body {
  background-color: #669AC0;
     }


h1 {
    text-align: right;
    font-size: 100px;
    font-family: 'Paytone One', sans-serif;
    color: #FFFFFF;
      }
}



